// .signedout {
//   position: absolute;
//   transform: translateX(-50%);
//   left: 50%;
//   margin-top: 2%;
//   display: flex;
//   justify-content: center;
//   z-index: 9999;
//   color: #fff;
//   font-weight: 600;
//   box-sizing: border-box;
//   background-color: #4caf50;
//   display: none;
//   opacity: 0;
//   border-color: #4caf50;
//   box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
//     0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
//   letter-spacing: 2px;
//   font-size: 12px;
//   padding: 8px 16px;
//   border-radius: 20px;
//   animation: hidingvisiblity 1000ms both linear;
//   p {
//     margin: 0;
//     padding: 0;
//   }
// }
.login {
  border: 1px solid rgba($color: #000000, $alpha: 0.115);
  border-radius: 16px;
  box-shadow: 1px 1px 4px 3px rgba($color: #000000, $alpha: 0.115);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 320px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-top: 8px;
  transition: 1000ms height ease-in-out;

  .loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 75%;
    height: 29%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    color: #fff;
    font-weight: 600;
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
      0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 10px 32px;
    border-radius: 20px;
    animation: slideupanddown 2200ms both linear infinite alternate;
    line-height: 28px;
    p {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }

  h4 {
    font-weight: 400;
    margin: 12px 0px;
    text-transform: uppercase;
  }
  input {
    outline: none;
    border: 1px solid rgba($color: #000000, $alpha: 0.15);
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: 0.115);
  }
  .submit,
  .back {
    background: #8484ff;
    color: white;
    cursor: pointer;
    width: 42%;
    max-width: 53%;
    transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1) width;
    border: 1px solid #8484ff;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 12px;
    outline: none;
    &:hover {
      background: #6464ff;
      width: 53%;
    }
  }
  .btn-wrap {
    width: 262px;
    display: flex;
    justify-content: space-around;
  }
  .error-message {
    color: red;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    // align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    // animation: hid 1000ms both linear;
  }
}
// @keyframes hid {
//   0% {
//     opacity: 1;
//     visibility: visible;
//   }
//   100% {
//     opacity: 0;
//     visibility: hidden;
//     height: 0px;
//   }
// }
@keyframes slideupanddown {
  0% {
    top: 10%;
  }
  100% {
    top: 90%;
  }
}
@keyframes hidingvisiblity {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@media (max-width: 320px) {
  .login {
    width: 90vw;
  }
  input {
    width: 70%;
  }
  .login .btn-wrap {
    width: 80vw;
  }
}

@media (min-width: 321px) and(max-width: 480px) {
  .login {
    width: 70vw;
  }
}
